<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
>
    <php>
        <env name="BITMESH_TEST_CONSUMER_KEY" value="KO45tkb7vs6HPdjZMkzWCgpKqGrycRol"/>
        <env name="BITMESH_TEST_CONSUMER_SECRET" value="5UJOAvIkpwmztsTDIl1tYPT7nOlSixYR"/>
    </php>
    <testsuites>
        <testsuite name="Bitmesh PHP SDK Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>


